$main-color: rgb(114, 23, 38);
$main-text-color: rgb(3, 59, 3);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  width: 150px;
  height: 230px;
}

.title{
  text-align: center;
  margin: 20px;
}

.purple{
  color: $main-color;
  font-size: 40px;
}

.green{
  color: $main-text-color;
  font-size: 30px;
}

.subTitle{
  color: $main-text-color;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

button{
  border:2px solid $main-color;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  color: $main-text-color;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
}

.buttons{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.searcing{
  background-color: $main-color;
  padding: 10px;
  width: 750px;
  display: flex;
  justify-content: center;
}

input{
  padding: 7px;
  display: block;
  outline: none;
  border: white;
  border-radius: 2px;
  width: 300px;
  font-size: 18px;
  font-style: italic;
}

label{
  color: white;
  font-size: 23px;
  margin: 10px;
  margin-left: 300px;
  cursor: pointer;
}

section{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

.center{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid black;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}

.allBooks{
  display: flex;
  width: 750px;
  justify-content: space-around;
  flex-wrap: wrap;

}

.book{
  border: 2px solid black;
  padding-bottom: 10px;
  width: 200px;
  height: 290px;
  background-color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  flex-wrap: wrap;
}

.down{
  background-color: $main-text-color;
  width: 200px;
  position: absolute;
  color: white;
  padding: 10px;
  margin-left: -25px;
}

#special{
  margin-top: -15px;
  padding: 8px;
}
