*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: rgb(255, 233, 233);
}

#box{
  width: 200px;
  height: 200px;
  transform: translate(90%, 50%);
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}

button{
  width: 60px;
  height: 35px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 40px;
}
