*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.main{
  background-image: url("./images/coffee.webp");
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: initial;
  width: 900px;
  height:500px;
  box-shadow: 1px 1px 10px black;
  border: 3px solid black;
  display: flex;
  justify-content: center;
}

.arrow{
  margin-top: 200px;
  color: rgb(65, 63, 63);
  font-size: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;

}

.content{
  width: 700px;
  display: flex;
  box-shadow: 0px 0px 100px gray;
}

.title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: #7e5a4e;
  width: 400px;
  margin: 100px;
  margin-top: 55px;
  margin-bottom: 30px;
}

#subTitle{
  color: rgb(246, 255, 224);
  text-align: center;
}

#title{
  text-align: center;
  font-size: 40px;
  color: white;
}

img{
  width: 100px;
  margin-left: 250px;
  border: 2px solid white;
  border-radius: 50%;
}
