*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: #ecffec;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

.parent{
  border: 5px solid rgb(49, 2, 49);
  width: 500px;
  height: 500px;
  background-color: rgb(80, 4, 80);
}

.child{
  background-color: #ecffec;
  width: 400px;
  height: 400px;
  margin-left: 45px;
  margin-top: 45px;
  border: 5px solid rgb(49, 2, 49);
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2{
  margin-left: 130px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgb(49, 2, 49);
  font-size: 40px;
}

h1{
  color: rgb(49, 2, 49);
  font-size: 50px;
  margin-left: 180px;
  margin-bottom: 40px;
}

button{
  width: 200px;
  margin-left: 100px;
  margin-bottom: 10px;
  height: 30px;
  font-weight: bold;
  outline: none;
  background-color: white;
  border: 2px solid rgb(49, 2, 49);
  cursor: pointer;
}
